.component_holder {
    max-width: 85%;
    margin-left: 15%;
    margin-top: 5%;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

/* Media Query */
@media only screen and (max-width: 600px) {
    .component_holder {
        max-width: 100%;
        margin-left: 0%;
        margin-top: 60px;
        background-color: #f8f8f8;    }
}

@media only screen and (min-width: 600px) {
    .component_holder {
        max-width: 100%;
        margin-left: 200px;
        margin-top: 70px;
        background-color: #f8f8f8;    }
}